body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 0, 0.507);
}

    /* This is our styling for our NAVBAR */
    .nav-wrapper {
        background-color: black;
        font-size: 150%;
        vertical-align: middle;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

        /* This is our styling for the frying pan logo on the navbar */
        #pan {
            float: left;
            max-height: 60px;
            padding-top: 5px;
            padding-right: 20px;
        }

        /* This is the character styling in the NAVBAR */
        .left {
            color: rgb(208, 253, 253);
        }

    /* This is our styling for the chef logo in the main body of the page */
    #chef {
        float: left;
        margin-top: 40px;
        margin-left: 50px;
        height: 350px;
        width: 200px;
    }

    /* This is our styling for the happy measuring cup */
    #cup {
        float: right;
        margin-top: 40px;
        margin-right: 30px;
        height: 200px;
        width: 250px;
    }

    /* This is styling for the Measurement Conversion Calculator header and description container */
    #header {
        margin-top: 40px;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        vertical-align: middle;
        font-weight: 900;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(172, 172, 172);
        background-color: rgb(208, 253, 253);
    }

    /* This is styling for all the rows */
    .row {
        box-sizing: border-box;
    }

    /* This is styling for the conversion metrics & results */
    #conversion {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 20px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(172, 172, 172);
        background-color: rgb(240, 253, 253);
    }

        /* This is styling for the "Value" row" */
        #value {
            padding-right: 100px;
            float: left;
            text-align: right;
        }

        /* This is styling for the "Value" text box */
        #value-Text {
            float: left;
            width: 300px;
            padding-top: 16px;
        }

        /* This is styling for the "current value from" prompt */
        #convert-From {
            padding-right: 100px;
            float: left;
            text-align: right;
        }

        /* This is styling for the "convert-From-Values" drop down */
        #convert-From-Values {
            float: left;
            width: 300px;
            padding-top: 11px;
        }

        /* This is styling for the "Convert to" prompt */
        #convert-To {
            padding-right: 100px;
            float: left;
            text-align: right;
        }

        /* This is styling for the "Convert To Values drop down */
        #convert-To-Values {
            float: left;
            width: 300px;
            padding-top: 11px;
        }

        /* This is our button column styling */
        #buttons {
            text-align: right;
            padding-right: 100px;
        }

        /* This is our Convert button styling */
        #convert {
            color: black;
            background-color: rgba(255, 255, 0, 0.507);
        }

        /* This is our Reset button styling */
        #reset {
            color: black;
            background-color: rgba(255, 255, 0, 0.507);
        }

        /* This is our "Result" prompt styling */
        #result {
            text-align: left;
            width: 50px;
        }

        /* This is our returned results field styling */
        #resultField {
            padding-top: 2px;
            padding-left: 75px;
        }


/* These rules take effect when the browser's width is either 768px or less */
@media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
    
      /* The wrapper's width will be 600px */
      .wrapper {
        width: 100%;
      }
    }